.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  margin-top: var(--margin-head-bottom);
}
.news_card:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.news_card:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text-inverted);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
}

.luk_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  color: var(--color-text-inverted);
  text-decoration: none;
  width: max-content;
  border-radius: var(--border-radius);
  background-color: var(--color-cta-newscard-bg);
  border: none;
}

.news_card .cta_btn {
  justify-self: center;
  color: var(--color-text-logotype);
  background-color: var(--color-cta-newscard-bg);
  border: none;
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

[popover] {
  padding: 1rem;
  margin: auto;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  border: none;
  background-color: var(--color-card-bg);

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
    border-radius: 37px;
    scrollbar-width: none;
    background-color: var(--color-card-bg);
  }

  &::backdrop {
    background: #0008;
  }
  h4 {
    font-size: var(--font-h3-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-link-bg);
    line-height: 1.2;
    background-color: var(--color-head-bg);
    margin: 10px 0 20px -1.2em;
    padding: 15px 30px;
    border-radius: 0 37px 37px 0;
  }
  p {
    color: var(--color-text);
  }
  p:first-of-type {
    font-size: var(--bodytext-size);
    font-weight: var(--font-weight-light);
  }
  img {
    margin-bottom: 1em;
    border-radius: var(--border-radius);
  }
  .scroll_btn {
    position: sticky;
    bottom: 1rem;
    justify-self: center;
    cursor: pointer;
    padding: 0.4rem 1rem;
    color: var(--color-text-inverted);
    text-decoration: none;
    width: max-content;
    border-radius: var(--border-radius);
    background-color: var(--color-cta-newscard-bg);
    border: none;
  }
}

[popover] {
  opacity: 0;
  translate: 0 -50%;
  transition: 0.5s allow-discrete;
  border-radius: 37px;
  scrollbar-width: none;
}

[popover]:popover-open {
  opacity: 1;
  translate: 0 0;
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
    translate: 0 50%;
  }
}

::backdrop {
  opacity: 0;
  transition: 0.5s allow-discrete;
  background: #0008;
  backdrop-filter: blur(5px);
}

:popover-open::backdrop {
  opacity: 1;
  backdrop-filter: blur(5px);
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
    backdrop-filter: blur(5px);
  }
}
