#webform {
  background-color: var(--form-background-color);
  display: grid;
  accent-color: var(--color-cta-card-bg);
  padding: 0.5em;
  margin-top: 1.5em;
  gap: 1.5em;
}

#form-section,
#form-summary {
  background-color: var(--color-card-bg);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#form-info {
  background-color: var(--color-logotype-bg);
  margin-top: 40px;
  h2,
  p {
    color: var(--color-text-logotype);
    margin-left: 0.5em;
  }
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
.form-group {
  display: grid;
  gap: 0.2em;
  input {
    border: none;
    border-radius: 10px;
    background-color: var(--color-news-bg-inverted);
    padding: 0.4em 0.2em;
  }
}
:focus-visible {
  outline: 2px solid var(--color-cta-card-bg);
}
legend:not(:has(input)) {
  font-weight: bold;
}
fieldset {
  border: none;
}
label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.error-message {
  color: darkred;
  font-size: 0.8em;
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
.form-group:has(:user-invalid) {
  .error-message {
    display: block;
  }
  input {
    outline: 2px solid red;
  }
}

select {
  margin-bottom: 1.5em;
}
#indberet {
  background-color: var(--color-cta-card-bg);
  color: white;
  font-weight: bold;
  margin-bottom: 1.3em;
  border: none;
  padding: 0.5em;
  &:hover {
    background-color: orange;
    border: none;
    cursor: pointer;
  }
  &:active {
    scale: 0.98;
    background-color: green;
    border: none;
  }
}
.form-group2 {
  margin-top: 1.5em;
}
textarea,
select {
  background-color: var(--color-news-bg-inverted);
  border: none;
  border-radius: 10px;
  padding: 0.4em 0.2em;
  width: 100%;
  font-family: inherit;
  option {
    background-color: var(--color-news-bg-inverted);
  }
}
