#webform {
  background-color: var(--form-background-color);
  display: grid;
  accent-color: var(--color-cta-card-bg);
  padding: 0.5em;
  margin-top: 1.5em;
  gap: 1.5em;
  font-family: inherit;
}

#form-section,
#form-summary {
  background-color: var(--color-card-bg);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
#form-summary span {
  font-weight: normal;
}

#form-info h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 1rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  background-color: var(--color-logotype-bg);
  margin-top: 40px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
.form-group {
  display: grid;
  gap: 0.2em;
  input {
    border: none;
    border-radius: 10px;
    background-color: var(--color-news-bg-inverted);
    padding: 0.4em 0.2em;
  }
}
:focus-visible {
  outline: 2px solid var(--color-cta-card-bg);
}
legend:not(:has(input)) {
  font-weight: bold;
}
fieldset {
  border: 2px solid var(--color-news-bg-inverted);
  border-radius: 26px;
  padding: 1rem;
}
label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.error-message {
  color: darkred;
  font-size: 0.8em;
  display: none;
}

/* .form-group:has(:required) > label::after {
  content: " *";
  color: red;
}


fieldset:has(:required) > p:first-of-type::after {
  content: " *";
  color: red;
}

fieldset:has(:required) > label:first-of-type::after {
  content: " *";
  color: red;
} */

.form-group:has(:required) {
  label:first-child:after {
    content: " *";
    color: red;
  }
  p:first-child:after {
    content: " *";
    color: red;
  }
}
fieldset:has(select[required]) {
  label:first-of-type::after {
    content: " *";
    color: red;
  }
}
fieldset:has(input[type="radio"][required]) {
  p:first-of-type::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  .error-message {
    display: block;
  }
  input {
    outline: 2px solid red;
  }
}

select {
  margin-bottom: 1.5em;
}
#indberet {
  background-color: var(--color-cta-card-bg);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 21px;
  margin: 0.25em;
  padding: 0.8em;
  &:after {
    content: " \2192";
  }
  &:hover {
    background-color: var(--color-headline-bg);
    border: none;
    cursor: pointer;
  }
  &:active {
    scale: 0.98;
    background-color: var(--color-cta-newscard-bg);
    border: none;
  }
}
.form-group2 {
  margin-top: 1.5em;
}
textarea,
select {
  background-color: var(--color-news-bg-inverted);
  border: none;
  border-radius: 10px;
  padding: 0.4em 0.2em;
  width: 100%;
  font-family: inherit;
  option {
    background-color: var(--color-news-bg-inverted);
  }
}
