#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
}
.info-graphic {
  border-radius: var(--border-radius);
  margin: 60px auto 80px auto;
}
.info-text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: var(--font-h3-size);
  font-weight: var(--font-weight-medium);
  text-align: center;
  line-height: 2rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  background-color: var(--color-logotype-bg);
  margin-top: 40px;
  margin-bottom: 1rem;
}
.info-text h3 {
  font-size: var(--headline3-size);
  line-height: 2rem;
  font-weight: 600;
  margin: 10px 0 20px 0;
  padding: 0;
}
.info-text p:first-of-type {
  margin: 0 clamp(0.5rem, 3%, 7rem);
}
.info-text p {
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
aside ul li {
  list-style: square;
  line-height: 2;
  margin: 1em 0 1em 1.2em;
}
.info-box {
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: var(--color-infobox-1-bg);
  border-radius: var(--border-radius);
  margin: 1rem;
}
.info-box:nth-of-type(2n) {
  background-color: var(--color-infobox-2-bg);
}

.brighter {
  filter: brightness(120%);
}
.darker {
  filter: brightness(80%);
}
